name: CI 04 - Make a Build

on: push

jobs:
  system-info-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6 
      - name: Step 1 - Build
        run: make build
