name: CI 07 - Variables and Context

on: push
env:
  GLOBAL_VAR: "Je suis globale"

jobs:
  variables:
    runs-on: ubuntu-latest
    env:
      JOB_VAR: "Je suis au niveau job"
 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show variables
        env:
          STEP_VAR: "Je suis au niveau step"
        run: |
          echo "Global: $GLOBAL_VAR"
          echo "Job: $JOB_VAR"
          echo "Step: $STEP_VAR"

      - name: Show GitHub context
        run: |
          echo "Repository: ${{ github.repository }}"
          echo "Branch: ${{ github.ref_name }}"
          echo "SHA: ${{ github.sha }}"
          echo "Actor: ${{ github.actor }}"
          echo "Event: ${{ github.event_name }}"

      - name: Show runner context
        run: |
          echo "OS: ${{ runner.os }}"
          echo "Architecture: ${{ runner.arch }}"

      - name: Show repo variables & secret
        run: |
          echo "SECRET: ${{ secrets.REPO_SECRET }}"
          echo "VAR: ${{ vars.REPO_VAR }}"
